<%= simple_form_for(@comment) do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


</p>
<fieldset>
  <legend>Add Comment</legend>
    <%= f.label :user_name %>   <%= f.text_field :user_name, :class => 'form-control' %>
    <%= f.label :Comment %>    <%= f.text_area :body, :class => 'form-control' %></br>
    <%= f.hidden_field :plan_id %>
    <%= f.submit 'Submit', :class => 'btn btn-default' %>
<% end %>
</fieldset>


  