<%= form_for(@step) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sequence %><br>
    <%= f.number_field :sequence %>
  </div>
  <div class="field">
    <%= f.label :planstep %><br>
    <%= f.text_area :planstep %>
  </div>
 <div class="field">
    <%= f.label :plan_id %><br>
    <%= f.text_area :plan_id %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
