<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span9" > 
      <div class="jumbotron">
        <table class="table">
          <tr>
            <td> <%= image_tag(@plan.picture_url, :width => "50%" ) if @plan.picture.present? %> </td>
            <td><h1>Action Plan: </br><%= @plan.name %> </h1>
             <!--    <p><a class="btn btn-success btn-lg" role="button" href="https://www.google.com/calendar/render?action=TEMPLATE&text=Action_App_Step1&add=julia.clavien@gmail.com&location=Somewhere&calendar-label=Outgoing">Take Action!</a></p> </td> -->
               <p><a class="btn btn-success btn-lg" role="button" href="">Take Action!</a></p> </td>
          </tr>
         </table>   
      </div>
  </div>
  </br>

  <div class="span3">
    <div class="panel panel-default">
      <div class="panel-heading">
         <strong> <%= @plan.name %> </strong> (<%= @plan.id %>)
  </div>
      <div class="panel-body">
              <p><%= @plan.description %></p>
              <p><%= @plan.amazonlink %></p>
            <div class="table-responsive">
              <legend>Action Plan</legend>
              <table class="table table-hover table-bordered">
                <th>Week</th>
                  <th>Step</th>
                <tbody>
                <% @steps.each do |step| %>
                 <div>
                  <tr>
                    <td><strong><%= step.sequence %></strong></td>
                    <td> <p><%= step.planstep %></p></td>
                  </tr>
                 </div>
                <% end %>
                </tbody>
              </table>
            <p>
              <!-- <a id='clickAllActionsPanel' class="btn btn-success btn-lg" role="button" href="#">Take Action!</a> -->
            </p>
             <input type="button" value="Take Action!" id="toggleButton" class="btn btn-success btn-lg" role="button"> </td>
           </div>
      </div>
      </div>
</div>

    <div id='AllActionsPanel'>
        Panel is now visible
          <% provide(:title, '') %>
          <% provide(:jumbotron, '
                <h1>Hello, Action Taker!</h1>
                 <p>Here are lots of action plans, they are so helpful to add to your calendar.</p>
                 <p>Step 1: Choose your plan</p> 
               <p>Step 2: Add it to your calendar (Google, Outlook etc)</p>
               <p>Step 3: Take action!</p>
                <p><a href= "/plans/" class="btn btn-primary btn-lg" role="button">Browse plans &raquo;</a></p>
            '.html_safe)%>

            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h2>Heading</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <p><a class="btn btn-success btn-lg"  href="#" role="button">Add to Calendar &raquo;</a></p>
                </div>
                <div class="col-md-4">
                  <h2>Heading</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <p><a class="btn btn-success btn-lg"  href="#" role="button">Subscribe to Emails &raquo;</a></p>
               </div>
                <div class="col-md-4">
                  <h2>Heading</h2>
                  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                  <p><a class="btn btn-success btn-lg"  href="#" role="button">Subscribe to Calls &raquo;</a></p>
                </div>
              </div>

        </br>
      </div>

    
    <script src="libs/jquery-1.4.4.js"></script>
    <script src="hideshow.js"></script>

  </div>
  <!-- AllActionsPanel -->

</br></p>
<legend>Comments</legend>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong> - <%= comment.body %>
<% end %>

<%= render 'comments/form' %>

